*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

*::selection {
  background-color: #c69963;
  color: #f9f7f6; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 73.43em) {
    html {
      font-size: 53.12%; } }
  @media only screen and (max-width: 61.87em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 54.12em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.6;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  color: #6D5D4B; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 80vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end]; }
  @media only screen and (max-width: 61.87em) {
    .container {
      grid-template-rows: 6.5rem 80vh min-content 80vh repeat(3, min-content);
      grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 54.12em) {
    .container {
      grid-template-rows: 6.5rem 92vh 20vh repeat(6, min-content); } }
  @media only screen and (max-width: 35em) {
    .container {
      grid-template-rows: 6vh 65vh repeat(7, min-content); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  color: #fff;
  font-size: 4.5rem; }
  @media only screen and (max-width: 35em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  font-style: italic; }
  .heading-2--dark {
    color: #54483A; }
  .heading-2--light {
    color: #f9f7f6; }
  @media only screen and (max-width: 35em) {
    .heading-2 {
      font-size: 3rem; } }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }
  @media only screen and (max-width: 35em) {
    .heading-3 {
      font-size: 1.5rem; } }

.heading-4 {
  font-size: 1.9rem;
  text-transform: capitalize;
  line-height: 1.2; }
  .heading-4--dark {
    color: #54483A; }
  .heading-4--light {
    color: #f9f7f6; }

p {
  font-size: 1.5rem; }

.grid {
  display: grid; }
  .grid-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .grid-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid-col-6 {
    grid-template-columns: repeat(6, 1fr); }

.btn {
  border: none;
  background-color: #c69963;
  padding: 1.8rem 3rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  grid-gap: 6rem;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  @media only screen and (max-width: 54.12em) {
    .features {
      margin: 0;
      padding: 8rem 0; } }
  @media only screen and (max-width: 25em) {
    .features {
      gap: 8rem; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  .feature__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #c69963;
    grid-row: 1 / -1;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.footer {
  grid-column: full-start / full-end;
  background-color: #101d2c;
  padding: 8rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  justify-items: center; }
  .nav__item {
    list-style: none;
    align-self: center;
    text-align: center;
    transition: all .2s; }
    .nav__item:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-0.3rem); }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.5rem;
    display: block; }

.copyright {
  text-align: center;
  padding: 6rem 17rem 0 17rem;
  font-size: 1.4rem;
  color: #aaa; }
  @media only screen and (max-width: 54.12em) {
    .copyright {
      padding: 6rem 10rem 0 10rem; } }
  @media only screen and (max-width: 54.12em) {
    .copyright {
      padding: 6rem 0 0; } }

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  @media only screen and (max-width: 54.12em) {
    .header {
      grid-column: full-start / full-end; } }
  .header__logo {
    max-height: 2.2rem;
    max-width: 100%; }
  .header__box-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center; }
  .header__logos {
    align-self: stretch;
    transform: translateY(-2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .header__main-logo {
    max-height: 3rem;
    align-self: center; }
  .header__sub {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: flex-start;
    width: 100%; }
  .header .btn--header {
    margin-top: 1.4rem; }
  .header__seen {
    color: #aaa;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: stretch;
    font-size: 1.6rem; }
    .header__seen::after {
      content: "";
      display: block;
      height: .1rem;
      background-color: #aaa; }
    .header__seen::before {
      content: "";
      display: block;
      height: .1rem;
      background-color: #aaa; }
  .header__logos {
    filter: brightness(75%); }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #f9f7f6; }
  @media only screen and (max-width: 54.12em) {
    .gallery {
      gap: .3rem;
      padding: .3rem; } }
  .gallery__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__photo--1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  .gallery__photo--2 {
    grid-column: 3 / 6;
    grid-row: 1 / 4; }
  .gallery__photo--3 {
    grid-column: 6 / 7;
    grid-row: 1 / 3; }
  .gallery__photo--4 {
    grid-column: 7 / 9;
    grid-row: 1 / 3; }
  .gallery__photo--5 {
    grid-column: 1 / 3;
    grid-row: 3 / 6; }
  .gallery__photo--6 {
    grid-column: 3 / 5;
    grid-row: 4 / 6; }
  .gallery__photo--7 {
    grid-column: 5 / 6;
    grid-row: 4 / 5; }
  .gallery__photo--8 {
    grid-column: 6 / 8;
    grid-row: 3 / 5; }
  .gallery__photo--9 {
    grid-column: 8 / 9;
    grid-row: 3 / 6; }
  .gallery__photo--10 {
    grid-column: 1 / 2;
    grid-row: 6 / 8; }
  .gallery__photo--11 {
    grid-column: 2 / 4;
    grid-row: 6 / 8; }
  .gallery__photo--12 {
    grid-column: 4 / 5;
    grid-row: 6 / 8; }
  .gallery__photo--13 {
    grid-column: 5 / 8;
    grid-row: 5 / 8; }
  .gallery__photo--14 {
    grid-column: 8 / 9;
    grid-row: 6 / 8; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 54.12em) {
    .homes {
      margin: 8rem 0; } }

.home {
  background-color: #f9f7f6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .home__img-box {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .home__img {
    width: 100%; }
  .home__name-box {
    width: 100%;
    display: flex;
    justify-content: center; }
  .home__name {
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    background-color: #101d2c;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 1.3rem 4rem;
    transform: translateY(-50%);
    width: 80%; }
  .home__like {
    width: 2.5rem;
    height: 2.5rem;
    fill: #c69963;
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .home__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 1rem 0 3rem;
    grid-column: 1 / -1; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center; }
  .home__icon {
    width: 2rem;
    height: 2rem;
    fill: #c69963; }
  .home__btn {
    grid-column: 1 / -1;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%; }

.realtors {
  background-color: #101d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: col-start 7 / full-end; }
  @media only screen and (max-width: 54.12em) {
    .realtors {
      grid-column: full-start / full-end;
      padding: 3rem; } }
  .realtors__content {
    display: flex;
    flex-direction: column;
    gap: 4.5vh; }
    @media only screen and (max-width: 54.12em) {
      .realtors__content {
        flex-direction: row;
        justify-content: space-between;
        gap: 5vw; } }
    @media only screen and (max-width: 35em) {
      .realtors__content {
        flex-direction: column; } }
  .realtors__box {
    display: flex;
    align-items: center;
    gap: 3vh; }
  .realtors__photo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; }
  .realtors__sold {
    font-size: 1rem;
    color: #aaa;
    text-transform: uppercase; }

.side-bar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  padding-top: 4rem; }
  .side-bar__content {
    height: 2px;
    width: 4.5rem;
    background-color: #fff;
    display: flex;
    position: relative; }
    .side-bar__content::before, .side-bar__content::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 4.5rem;
      background-color: #fff; }
    .side-bar__content::before {
      top: 1.5rem; }
    .side-bar__content::after {
      top: -1.5rem; }
  @media only screen and (max-width: 61.87em) {
    .side-bar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: end;
      align-items: center;
      padding: 2rem; } }

.story__picture {
  background-image: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../../img/back.jpg);
  background-size: cover;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 54.12em) {
    .story__picture {
      grid-column: full-start / full-end; } }

.story__img--1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2 / 6; }
  @media only screen and (max-width: 54.12em) {
    .story__img--1 {
      width: 90%;
      transform: translateX(-7rem); } }

.story__img--2 {
  width: 115%;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  align-self: start;
  z-index: 20; }
  @media only screen and (max-width: 54.12em) {
    .story__img--2 {
      width: 90%;
      grid-column: 4 / 7;
      grid-row: 2 / 6;
      align-self: center;
      z-index: 20; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem; }
  .story__content p {
    font-style: italic; }
  @media only screen and (max-width: 54.12em) {
    .story__content {
      grid-column: full-start / full-end;
      grid-row: 5 / 6; } }
