.btn {
    border: none;
    background-color: $color-primary;
    padding: 1.8rem 3rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $font-display;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}