.header {
    grid-column: full-start / col-end 6;

    background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13vh;

    &__logo {
        max-height: 2.2rem;
        max-width: 100%;
    }

    &__box-logo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }

    &__logos {
        align-self: stretch;
        transform: translateY(-2rem);

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__main-logo {
        max-height: 3rem;
        align-self: center;
    }

    &__sub {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        align-items: flex-start;
        width: 100%;
    }

    .btn--header {
        margin-top: 1.4rem;
    }

    &__seen {
        color: #aaa;
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 2rem;
        align-items: center;
        justify-items: stretch;
        font-size: 1.6rem;

        &::after {
            content: "";
            display: block;
            height: .1rem;
            background-color: #aaa;
        }

        &::before {
            content: "";
            display: block;
            height: .1rem;
            background-color: #aaa;
        }
    }

    &__logos {
        filter: brightness(75%);
    }
}