.realtors {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    grid-column: col-start 7 / full-end;

    @include respond(third) {
        grid-column: full-start / full-end;
        padding: 3rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4.5vh;

        @include respond(third) {
            flex-direction: row;
            justify-content: space-between;
            gap: 5vw;
        }

        @include respond(fourth) {
            flex-direction: column;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 3vh;
    }

    &__photo {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }

    &__sold {
        font-size: 1rem;
        color: $color-grey-light-2;
        text-transform: uppercase;
    }
}