.story {

    &__picture {
        background-image: linear-gradient(to right, rgba($color-primary, .5), rgba($color-primary, .5)), url(../../img/back.jpg);
        background-size: cover;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;

        @include respond(third) {
            grid-column: full-start / full-end;
        }
    }

    &__img--1 {
        width: 100%;

        grid-column: 2 / 6;
        grid-row: 2 / 6;

        @include respond(third) {
            width: 90%;
            transform: translateX(-7rem);
        }
    }

    &__img--2 {
        width: 115%;

        grid-column: 4 / 7;
        grid-row: 4 / 6;
        align-self: start;
        z-index: 20;

        @include respond(third) {
            width: 90%;
            grid-column: 4 / 7;
            grid-row: 2 / 6;
            align-self: center;
            z-index: 20;
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;
        justify-items: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;

        p {
            font-style: italic;
        }

        @include respond(third) {
            grid-column: full-start / full-end;
            grid-row: 5 / 6;
        }
    }
}